<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}EPITA International Week - 2016 FOR SUP STUDENTS{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('bundles/eventsevents/css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         {% block body %}            
            <p>Logged in as <b>{{ app.user.username }}</b>({{app.user.email}})<a style="padding-left: 50px;" href="{{path('fos_user_security_logout')}}">Logout</a></p>            
            <p><b>EPITA International Week - 2016 Events Registration ONLY FOR 1ST YEAR(SUP) STUDENTS</b></p> 
                {% for flashMessage in app.session.flashbag.get('success') %}        
                    <div class="flash-success">
                        {{ flashMessage }}
                     </div>
                {% endfor %}
            <p><b>Register for events held on Thursday, 24th March 2016 and Friday, 25th March 2016 </b>&nbsp;<a href="{{path('eventone')}}">Click here!</a></p>
           
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>